 @import url("https://fonts.googleapis.com/css?family=Montserrat:500,600");
body{
  background-color: #89A2FA;
}
/*
.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-page {
  align-items: center;
  background-color: var(--portage);
  display: flex;
  flex-direction: column;
  height: 1183px;
  padding: 50px 0;
  width: 1440px;
}

.group-25 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  min-height: 89px;
  width: 1360px;
}

.flex-row {
  align-items: center;
  align-self: center;
  display: flex;
  margin-right: 11px;
  min-width: 1327px;
}

.flex-row-1 {
  align-items: center;
  display: flex;
  min-width: 1057px;
}

.wpfswiss-army-knife {
  align-items: flex-start;
  display: flex;
  overflow: hidden;
  width: 60px;
}

.vector {
  height: 60px;
  margin-left: -1px;
  width: 61px;
}

.beml {
  height: 42px;
  letter-spacing: 0;
  margin-left: 22px;
  margin-top: 6px;
  width: 75px;
}

.flex-col {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 4.5px;
  margin-left: 115px;
  min-height: 38px;
  width: 76px;
}

.place {
  letter-spacing: 0;
  min-height: 29px;
  min-width: 76px;
  text-align: center;
}

.line-2-1 {
  height: 3px;
  margin-left: 3px;
  margin-top: 6px;
  width: 71px;
}

.docs {
  letter-spacing: 0;
  margin-left: 78px;
  margin-top: 5px;
  min-height: 29px;
  min-width: 62px;
  text-align: center;
}

.contact-us {
  letter-spacing: 0;
  margin-left: 77px;
  margin-top: 5px;
  min-height: 29px;
  min-width: 136px;
  text-align: center;
}

.overlap-group-1 {
  align-items: flex-end;
  background-color: var(--pattens-blue);
  border-radius: 20px;
  box-shadow: 2px 4px 4px 
#00000040;
  display: flex;
  height: 50px;
  margin-left: 90px;
  margin-top: 4px;
  min-width: 123px;
  padding: 0px 0;
}

.log-in,
.sign-up {
  height: 48px;
  letter-spacing: 0;
  text-align: center;
  width: 123px;
}

.overlap-group-2 {
  align-items: flex-end;
  background-color: var(--pattens-blue);
  border-radius: 20px;
  box-shadow: 2px 4px 4px 
#00000040;
  display: flex;
  height: 50px;
  margin-left: 20px;
  margin-top: 4px;
  min-width: 123px;
  padding: 0px 0;
}

.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 7.5px;
  margin-left: 60px;
  min-height: 44px;
  width: 210px;
}

.search-container {
  align-items: flex-end;
  display: flex;
  min-width: 210px;
}

.search {
  color: 
#ffffff9e;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 500;
  height: 18px;
  letter-spacing: 0;
  width: 87px;
}

.akar-iconssearch {
  align-items: flex-start;
  display: flex;
  height: 35px;
  margin-left: 88px;
  padding: 1.3px;
  width: 35px;
}

.vector-1 {
  height: 31px;
  width: 31px;
}

.line-1 {
  height: 3px;
  margin-top: 6px;
  width: 210px;
}

.line-3 {
  height: 3px;
  margin-top: 28px;
  width: 1350px;
}

.title {
  align-self: flex-start;
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  letter-spacing: 0;
  margin-left: 70px;
  margin-top: 29px;
  min-height: 35px;
  width: 421px;
}

.overlap-group9 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  margin-top: 65px;
  min-height: 675px;
  padding: 13px 57px;
  width: 1313px;
}

.flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 39px;
  min-width: 1054px;
}

.vehicle-id {
  letter-spacing: 0;
  min-height: 39px;
  width: 169px;
}

.place-1 {
  letter-spacing: 0;
  margin-left: 288px;
  min-height: 39px;
  width: 79px;
}

.data-size {
  letter-spacing: 0;
  margin-left: 363px;
  min-height: 39px;
  width: 155px;
}

.overlap-group1 {
  align-items: flex-start;
  background-color: var(--spindle);
  border-radius: 15px;
  display: flex;
  height: 47px;
  margin-top: 30px;
  min-width: 1196px;
  padding: 4px 21px;
}

.abcdefghijklmnopqrstuvwxyz {
  align-self: center;
  letter-spacing: 0;
  margin-bottom: 1px;
  min-height: 24px;
  min-width: 302px;
}

.line-2 {
  height: 37px;
  margin-left: 133px;
  width: 2px;
}

.line-4 {
  height: 37px;
  margin-left: 440px;
  width: 2px;
}

.overlap-group {
  align-items: flex-start;
  background-color: var(--spindle);
  border-radius: 15px;
  display: flex;
  height: 47px;
  margin-top: 40px;
  min-width: 1196px;
  padding: 4px 21px;
}

.group-28 {
  align-items: flex-end;
  background-color: var(--pattens-blue);
  display: flex;
  height: 87px;
  justify-content: flex-end;
  margin-top: 153px;
  min-width: 1440px;
  padding: 9px 47px;
}

.copyright-container {
  height: 49px;
  position: relative;
  width: 920px;
}

.copyright-connect {
  color: var(--portage);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 920px;
}

.ant-designcopyright-circle-filled {
  align-items: center;
  display: flex;
  height: 23px;
  left: 135px;
  padding: 0 1px;
  position: absolute;
  top: 4px;
  width: 23px;
}

.vector-2 {
  height: 21px;
  width: 21px;
}
.flex-row-1{
  border-bottom: #ffffff;
} */

.full-row {
  background-color: #BAC7F8;
  margin-bottom: 30px;
  width: 1200px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 15px;
}

/* .header {
  margin-bottom: 30px;
} */

.row-heading {
  color: #89A2FA;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  margin-right: 100px;
}

.row-item {
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  justify-content: center;
  margin-right: 150px;
  padding-left: 100px;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.datarows{
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  /* display: grid;
  align-items: center;
  justify-content: center; */
  /* margin-left: 13px;
  margin-top: 65px; */
  margin: 60px auto;
  min-height: 675px;
  width: 1313px;
  border-radius: 20px;
  padding: 13px 57px;
} 

.border-right {
  padding-right: 100px;
  border-right: 1px white solid;
}
.landing-page303-group2773439 {
  align-items: flex-end;
  background-color: var(--pattens-blue);
  display: flex;
  height: 87px;
  justify-content: flex-end;
  margin-top: 153px;
  min-width: 1440px;
  padding: 9px 47px;
}
.landing-page303-text36 {
  /* top: 0px;
  left: 0px; */
  color: rgba(137, 162, 249, 1);
  width: 920px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page303-text37 {
  color: rgba(137, 162, 249, 1);
  width: 920px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}

.header {
  border-bottom: 3px white solid;
  width: 94%;
  margin: 13px auto 30px auto;
}

.btn {
  background: #E0F6FF;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: black;
}